*{background : #111111;
	font:  Menlo;
	color: #AAAAAA;
    font: 150%; 
    text-align: center;
    }



.titulo {
font-size: 15px;	 
text-align: justify;

.subtitulo {
   text-align: 
}

.cuerpo {

}

}
.tamano{
	font-size:50px;
	text-align: justify;
}
.dd{
  f
}
